
Web Scraping/static/.DS_Store
Web Scraping/Screenshots/.DS_Store
Web Scraping/templates/.DS_Store
Web Scraping/.ipynb_checkpoints/mission_to_mars_MuktaJathar-checkpoint.ipynb
*.pyc
.DS_Store
Plotly/requirements.txt
Final Project/Code/.ipynb_checkpoints/DataCleanup_Mapping-checkpoint.ipynb
Final Project/Code/.ipynb_checkpoints/DataCleanup_Mapping-Copy1-checkpoint.ipynb
Final Project/Data/DA centre lat long/92-151-g2016001-eng.pdf
Final Project/Data/DA centre lat long/92-151-g2016001-fra.pdf
Final Project/Data/DA centre lat long/2016_92-151_XBB.xlsx
Final Project/Data/Schools_EQAO/~$School_data_2017_2018.xlsx
